body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #0072ff, #51faa6);
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 80%;
    max-width: 900px;
}

.title {
    font-size: 2em;
    color: #3b82f6;
    margin-bottom: 20px;
}

.options {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.option img {
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

.option {
    width: 30%;
    text-align: center;
}

.option-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.gray-box {
    background-color: #e0e0e0;
    border-radius: 5px;
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
}


.button-container {
    display: flex;
    justify-content: center;
}

.button {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1em;
}

.regenerate, .write {
    background-color: #3b82f6;
    margin-top: 20px;
    margin-right: 20px;
    
}

.button.view-message {
    background-color: #34d399;
    margin-right: 5px;
}

.button.copy-message {
    background-color: #fbbf24;
}
